{% extends "collection/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="flex min-h-full  justify-center py-10 px-4 sm:px-6 lg:px-8">
    <div  class="border shadow-md rounded-xl px-8 pt-6 pb-8 mb-4 flex flex-col" >
    <div class="mt-6 text-left text-3xl font-bold dark:text-white text-gray-500" > 
    Inicia sesión
  </div>
    {% if form.errors %}  
        <div class="mt-5 bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
          <p class="font-bold">Atención:</p>
          <p>Inténtalo de nuevo, el usuario y contraseña no coinciden.</p>
        </div>
     {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <div class="mt-5 bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
          <p class="font-bold">Atención:</p>
          <p>Tu cuenta no permiso de acceder a esta página. Para continuar,
             por favor inicia sesión con una cuenta que tenga permiso.</p>
        </div>
        {% else %}
        <div class="mt-5 bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
          <p class="font-bold">Atención:</p>
          <p> Por favor regístrate para ver esta página.</p>
        </div>
        {% endif %}
    {% endif %}

    <form id='login_form' class="px-8 pt-3 pb-8 mb-4" 
    role="form" method="post" action='/accounts/login/' xmlns="http://www.w3.org/1999/html">{% csrf_token %}
              	<!-- Username -->
              <div class="block  mt-3 text-gray-700 dark:text-slate-300">
                {{ form.username.label_tag }}
              </div>
                {% render_field form.username class="pl-2 overflow-hidden  sm:rounded-md h-8 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %}
              <div class="block mt-3  text-gray-700 dark:text-slate-300">
                {{ form.password.label_tag }}
              </div>
               {% render_field form.password class="pl-2 overflow-hidden sm:rounded-md h-8 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %}
               
               <div class="mt-3">
                  <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"  href="/accounts/password_reset">¿Se te olvidó tu contraseña? </a>
                </div>
              <div class="mt-5 font-medium text-gray-500 dark:text-slate-300"> ¿Aún no te haz registrado? 
                  <a href="/accounts/register" class="mt-3 font-medium text-blue-600 dark:text-blue-500 hover:underline">Regístrate</a></div>

              <div>
                <button type="submit" class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
                  font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 
                  focus:outline-none dark:focus:ring-blue-800">Inicia Sesión</button>
              </div>
         </form>

</div>
</div>

{% endblock content %}
