{% extends "collection/base.html" %}

{% block content %}
<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center justify-between">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Colecciones</h1>
      </div>
      <div class="mt-4 sm:flex-none">
        <button type="button" class="block rounded-md bg-blue-500 px-3
                      py-2 text-center text-sm font-semibold text-black
                      shadow-sm hover:bg-blue-400 focus-visible:outline 
                      focus-visible:outline-2 focus-visible:outline-offset-2 
                      focus-visible:outline-blue-600"
                     hx-get="/collection/add" hx-target="body" hx-swap="beforeend" 
                  >Agrega una colección</button>
      </div>
    </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody  hx-trigger="listChanged from:body" 
                  hx-get="{% url 'collection_list' %}" hx-target="this" class="divide-y divide-gray-200">
         {% include "collection/collection_list.html" %}              
         </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}