{% load static %}
<ul class="flex gap-4 flex-wrap mx-auto justify-center mt-10">
<div class="hidden" id="currentItem" ></div>
{% if window.location.href  %}
{% endif %}
{% for item in items%}

    <li class="p-4 w-80 border border-gray-300 rounded-lg mb-4 bg-slate-100">
        <div class="w-72 h-96 border border-gray-200  flex justify-center items-center rounded-sm bg-slate-0">
            <img class="" style="object-fit: cover;scale: .81;" src="{{ item.image_url}}" alt="">
        </div>
        <h2 class="text-center mt-2 text-sky-700">{{ item.title }}</h2>
        <p class="text-center text-gray-600">{{item.author.name}} - {{item.date}} </p>
        <div class="w-72 h-8 flex justify-center mt-4 gap-3">
            
            <a href="#" onclick="setCurrentItem({{ item.id }})" data-toggle="modal" data-target="#copyModal"  title="Añadir a otra colección" class="w-5 text-center rounded-md" alt style="background-image: url('{% static 'img/add.svg' %}');width: 30px;height:30px;background-size: cover"></a>
            <a href="#" onclick="setCurrentItem({{ item.id }})" data-toggle="modal" data-target="#moveModal"  title="Mover a otra colección" class="w-5 text-center rounded-md" alt style="background-image: url('{% static 'img/change.svg' %}');width: 30px;height:30px;background-size: cover"></a>
            <a  href="{% url  'delete_from_collection' collection=collection.id artwork=item.id %}?deleted_item=true" title="Quitar de la colección" class="w-5 text-center rounded-md" alt style="background-image: url('{% static 'img/delete.svg' %}');width: 30px;height:30px;background-size: cover"></a>
        </div>
    </li>
{%endfor%}
</ul>
<script>
        $(document).ready(function(){
            let params = new URLSearchParams(new URL(window.location.href).search)
            if(params.get('deleted_item'))
            cuteToast({
                type:"info",
                message:"Elemento eliminado correctamente",
                timer:3000,
                title:"Operación existosa"
            })

        });
    function setCurrentItem(itemId){
        document.getElementById('currentItem').innerText= itemId;
    }
    function getCurrentItem(){
        return document.getElementById('currentItem').innerText;
    }

    function copyItem(fromId, toId){
        let artworkId = getCurrentItem();

        fetch('/collection/copy_item/'+fromId + '/' +toId + '/' + artworkId).then(response=>{

            if (!response.ok) {
                throw new Error('La solicitud no fue exitosa');
            }
            return true;
        }).then(data=>{

            cuteToast(({
               type:"info",
               message:"Elemento copiado correctamente",
               timer:3000,
                title:"Operación existosa"
            }))
        }).catch(error=>{
            cuteToast(({
               type:"error",
               message:"Ocurrió un error al momento de intentar copiar el elemento. ",
               timer:3000,
                title:"Error en la operación"
            }))
            console.error('ERROR:',error);
        });
    }

        function moveItem(fromId, toId){
        let artworkId = getCurrentItem();

        fetch('/collection/move_item/'+fromId + '/' +toId + '/' + artworkId).then(response=>{

            if (!response.ok) {
                throw new Error('La solicitud no fue exitosa');
            }
            return true;
        }).then(data=>{

            cuteToast(({
               type:"info",
               message:"Elemento movido correctamente",
               timer:3000,
                title:"Operación existosa"
            }))
        }).catch(error=>{
            cuteToast(({
               type:"error",
               message:"Ocurrió un error al momento de intentar mover el elemento. ",
               timer:3000,
                title:"Error en la operación"
            }))
            console.error('ERROR:',error);
        });
    }
</script>

