{% load static %}

<div class=" flex justify-center md:mx-auto px-2 " style="border-bottom: 1px solid #E2E8F0;width: 100%; padding: 15px">
  <div class="mx-auto w-full">
{#     <a class="" href="/">#}
{#        <span class="sr-only">Artworks</span>#}
{#        <img class="h-20 w-auto" src="{% static 'img/logo.png' %}"#}
{#                alt="artworks">#}
{#     </a>#}
      <div class="justify-center" style="display: flex; justify-content: space-around;">
          <a href="/" class="text-dark text-2xl font-semibold">Artworks</a>
          <nav class="w-30 " style="display: flex;gap: 25px;">
              <a href="/accounts/login" class="text-dark hover:underline">Iniciar sesión</a>
              <a href="/accounts/register" class="text-dark hover:underline">Registrarse</a>
              <a href="#" class="text-dark hover:underline">Explorar</a>
          </nav>
      </div>
  </div>
</div>

