{% extends "collection/base.html" %}

{% block content %}
<h1 style="color: black; text-align: center; font-size: 32px; margin: 30px 0px;">Explora obras de arte</h1>
<div class="flex justify-center md:mx-auto md:max-w-screen-2xl px-2">
    {% if user.is_authenticated %}
    <div class="my-5 bg-slate-200 border-l-4 border-slate-500 text-slate-700 p-6" role="alert">
        <p class="font-bold">Hola {{user.username}}</p>
        <p>Aquí podrás ver muchas pinturas.</p>
        <div class="flex flex-wrap -mx-2">
            {% for artwork in artworks %}
            <div class="w-1/4 md:w-1/4 sm:w-1/2 px-2 mb-4">
                <a href="/artwork/{{artwork.id}}">
                    <img class="block rounded-lg object-cover object-center" src="{{artwork.image_url}}"
                        alt="{{artwork.title}}" style="max-width: 320px; max-height: 320px;" />
                </a>
                <div class="h-10 mt-2">
                    <a href="/artwork/{{artwork.id}}"
                        class="block text-sky-600 font-bold text-ellipsis">{{artwork.title|truncatechars_html:40}}</a>
                    <a href="/author/{{artwork.author.name}}" class="block text-sm">{{artwork.author.name}}
                        <span class="text-gray-400 text-sm font-thin">{{artwork.date}}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="font-bold"><a class="text-sky-600" href="/accounts/logout">Termina la sesión</a></p>
    </div>
    {% else %}
    <div class="flex flex-wrap -mx-2">
        {% for artwork in artworks %}
        <div class="w-1/4 md:w-1/4 sm:w-1/2 px-2 mb-4">
            <a href="/artwork/{{artwork.id}}">
                <img class="block rounded-lg object-cover object-center" src="{{artwork.image_url}}"
                    alt="{{artwork.title}}" style="max-width: 320px; max-height: 320px;" />
            </a>
            <div class="h-10 mt-2">
                <a href="/artwork/{{artwork.id}}"
                    class="block text-sky-600 font-bold text-ellipsis">{{artwork.title|truncatechars_html:40}}</a>
                <a href="/author/{{artwork.author.name}}" class="block text-sm">{{artwork.author.name}}
                    <span class="text-gray-400 text-sm font-thin">{{artwork.date}}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}