{% for artwork in artworks %}
    <div class="flex w-1/4 flex-wrap pt3">
        <div class="w-full p-1 md:p-2">
            <img 
                class="block h-full w-full rounded-lg object-cover object-center"
                src="{{artwork.image_url}}" alt="{{artwork.title}}"/>
        </div>
        <div class=" -m-1 h-10 mt-1 mb-5">
                <a href="/artworks/{{artwork.id}}" class="block overflow-hidden
                   text-ellipsis pl-5 text-sky-600 font-bold"> {{artwork.title/truecatechars_html:40}}</a>
                <a href="#" class="block pl-5">{{artwork.author.name}}
                    <span class="text-gray-400 text-sm font-thin">{{artwork.date}}</span> </a>
        </div> 
    </div>
{% endfor %}